html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: #FFFFFF;
  color: #1a1a1a;
}


/*=========Global========*/

a {
  text-decoration: none;
  color: #1a1a1a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.red {
  color: #E74C3C;
  font-weight: bold;
}


/*========Page Header==========*/

.page-hdr {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 2s ease;
}

.page-hdr--opened {
  position: fixed;
  background-color: rgba(26, 26, 26, 0.8);
  z-index: 2;
}


/*--------pageHeaderUp---------*/

.page-hdr__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2.5rem;
  left: 5%;
  /*fallback for browser without support for calc*/
  left: calc(2rem);
  width: 90%;
  /*fallback..*/
  width: calc(100% - 4rem);
  background-color: transparent;
}

.page-hdr__logo {
  font-size: 2.5rem;
  line-height: 100%;
  color: #E74C3C;
  text-align: center;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.page-hdr--opened .page-hdr__logo {
  color: #e6ffe6;
}

.page-hdr__logo:focus {
  background-color: rgba(231, 76, 60, 0.2);
  outline: 5px solid rgba(231, 76, 60, 0.2);
}


/*Hamburger Button*/

.page-hdr__hmb {
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 3.5rem;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.page-hdr__hmb:focus {
  outline: 0;
  background-color: rgba(231, 76, 60, 0.2);
  outline: 5px solid rgba(231, 76, 60, 0.2);
}

.page-hdr__hmb--sticky {
  position: fixed;
  top: 2rem;
  right: 2rem;
  opacity: 0.7;
}

.hmb__tile1 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #E74C3C;
  transition: all .5s ease-in-out;
}

.hmb__tile2 {
  display: block;
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 100%;
  height: 0.5rem;
  background-color: #E74C3C;
  transition: all .5s ease-in-out;
}

.hmb__tile3 {
  display: block;
  position: absolute;
  left: 0;
  top: 3rem;
  width: 100%;
  height: 0.5rem;
  background-color: #E74C3C;
  transition: all .5s ease-in-out;
}

.page-hdr--opened .hmb__tile1 {
  background-color: transparent;
}

.page-hdr--opened .hmb__tile2 {
  -webkit-transform: rotate(-45deg);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  transform: rotate(-45deg);
  /* IE 10, Fx 16+, Op 12.1+ */
  background-color: #e6ffe6;
}

.page-hdr--opened .hmb__tile3 {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
  background-color: #e6ffe6;
}


/*--------pageHeaderDown----------*/

.page-hdr__down {
  display: none;
}

.page-hdr--opened .page-hdr__down {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.page-hdr__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  align-self: center;
  height: 100%;
  line-height: 200%;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
}

.page-hdr__nav li {
  flex-basis: 100%;
}

.nav__option {
  display: inline-block;
  padding: 0 1rem;
  background-color: transparent;
  position: relative;
  color: #e6ffe6;
}

.nav__option:focus {
  background-color: rgba(231, 76, 60, 0.2);
  outline: 5px solid rgba(231, 76, 60, 0.2);
}

.nav__option::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 0;
  height: 0.4rem;
  background-color: #e6ffe6;
  transition: all .6s ease-in-out;
}

.nav__option:hover::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #C15C5C;
}


/*===============Main================*/

.content, main {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 0;
}

.content--noevents {
  pointer-events: none;
}


/*---------ContentHeader---------*/

.content__hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #ECF0F1;
  /*fallback*/
  background: linear-gradient(to bottom right, #FFFFFF, #ECF0F1);
  /* background image is under Creative Common 0 (Zero) license : https://creativecommons.org/publicdomain/zero/1.0/legalcode*/
  background: url('../img/bgrtransparent.png') no-repeat center center;
  background-attachment: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  font-family: 'Amatic SC';
  flex-wrap: wrap;
  align-content: center;
}

.content h1 {
  display: block;
  flex-basis: 100%;
  font-size: 4.5rem;
  height: 15%;
  position: relative;
}

.content h2 {
  display: block;
  font-size: 2.8rem;
  flex-basis: 100%;
  height: 15%;
}

.content h3 {
  display: block;
  font-size: 3rem;
  margin-bottom: 6rem;
}

.fa {
  margin-right: 1rem;
}


/*----quotation----*/

.content__quotation {
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  background-color: #2C3E50;
  text-align: center;
}

.quote {
  margin: auto;
  text-align: center;
  color: #ECF0F1;
  transform: scale(0.3);
  transition: transform 2s ease-in-out;
}

.quote--show {
  transform: scale(1);
}


/*------aboutMe--------*/

.content__aboutme {
  width: 100%;
  margin: 0;
  padding: 6rem 2rem 6rem 2rem;
  box-sizing: border-box;
  background-color: #ECF0F1;
  text-align: center;
  color: #2C3E50;
}

.aboutme__frame {
  display: block;
  margin: 0;
  padding: 1rem 0;
  -webkit-box-shadow: 0px 9px 38px 0px rgba(231, 76, 60, 1);
  -moz-box-shadow: 0px 9px 38px 0px rgba(231, 76, 60, 1);
  box-shadow: 0px 9px 38px 0px rgba(231, 76, 60, 1);
  background: linear-gradient(#FFFFFF, #E74C3C);
}

.aboutme__img {
  max-width: 100%;
  height: auto;
}

.aboutme__text {
  margin-top: 3rem;
  text-align: left;
  position: relative;
  padding: 0 1rem;
}

.aboutme__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 0;
  opacity: 0;
  background-color: #E74C3C;
  transition: all 2s ease;
}

.aboutme__text--show::before {
  height: 100%;
  opacity: 0.8;
}


/*------------skills------------*/

.content__skills {
  width: 100%;
  margin: 0;
  padding: 6rem 2rem 6rem 2rem;
  box-sizing: border-box;
  background-color: #2C3E50;
  overflow: hidden;
}

.content__skills h3 {
  text-align: center;
  color: #ECF0F1;
}

.skills__container {
  margin: 0;
  padding: 0 0 6rem 0;
}

.skill__frame {
  display: block;
  width: 100%;
  margin: 3rem 0 0 0;
  padding: 0;
  text-align: center;
  position: relative;
}

.skill__img {
  max-width: 80%;
  height: auto;
  opacity: 0.15;
  z-index: 0;
}

.skill__text {
  position: absolute;
  top: 2.5rem;
  left: 0;
  color: #ECF0F1;
}


/*---------Projects----------*/

.content__projects {
  width: 100%;
  margin: 0;
  padding: 6rem 2rem 6rem 2rem;
  box-sizing: border-box;
  background-color: #ECF0F1;
}

.content__projects h3 {
  text-align: center;
  color: #2C3E50;
}

.projects__container {
  width: 100%;
}

.project__frame {
  width: 100%;
  margin: 0 auto 3rem auto;
  padding: 0;
  text-align: center;
  background-color: transparent;
  position: relative;
}

.project__img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 9px 38px 0px rgba(231, 76, 60, 1);
  -moz-box-shadow: 0px 9px 38px 0px rgba(231, 76, 60, 1);
  box-shadow: 0px 9px 38px 0px rgba(231, 76, 60, 1);
  background-color: #c15c5c;
}

.link-web, .link-gen, .link-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C3E50;
  font-size: 5rem;
  opacity: 0;
  color: #ECF0F1;
  transition: all 1s ease;
  z-index: 2;
}

.icon {
  display: block;
  flex-basis: 100%;
  align-self: center;
}

.project__frame:hover .link-web, .project__frame:hover .link-star, .project__frame:hover .link-gen {
  opacity: 0.8;
}

.link-web:focus, .link-star:focus, .link-gen:focus {
  opacity: 1;
  background-color: rgba(231, 76, 60, 0.2);
  outline: 10px solid rgba(231, 76, 60, 0.2);
}


/*------------Contact--------*/

.content__contact {
  width: 100%;
  margin: 0;
  padding: 6rem 2rem 3rem 2rem;
  box-sizing: border-box;
  background-color: #2C3E50;
}

.content__contact h3 {
  text-align: center;
  color: #ECF0F1;
}

.contact__info {
  width: 100%;
  margin: 0;
  padding: 0 0 3rem 0;
}

.contact__info a {
  color: #ECF0F1;
}

.contact__info p {
  color: #ECF0F1;
  margin: 0;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.contact__socials a, .contact__code-links a {
  display: block;
  text-decoration: none;
  color: #ECF0F1;
}

.fb, .tw, .gplus, .git, .plunker, .codepen {
  flex-basis: 100%;
}

.fb:hover {
  background-color: #4668b3;
  cursor: pointer;
}

.tw:hover {
  background-color: #3095d3;
  cursor: pointer;
}

.gplus:hover {
  background-color: #d95333;
  cursor: pointer;
}

.contact__code-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #ECF0F1;
  margin-bottom: 3rem;
}

.git:hover, .plunker:hover, .codepen:hover {
  background-color: #517394;
  cursor: pointer;
}

.fb:focus, .tw:focus, .gplus:focus, .git:focus, .plunker:focus, .codepen:focus {
  outline: 0;
  background-color: rgba(231, 76, 60, 0.2);
}


/*==================Footer=====================*/

.footer {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #ECF0F1;
  color: #2C3E50;
}

.footer p {
  margin: 0;
}


/*scrollup*/

.scrollup {
  width: 48px;
  height: 48px;
  text-decoration: none;
  background: url('../img/upsmall-red.png') no-repeat 0px 0px;
  position: fixed;
  opacity: 0;
  right: 2rem;
  bottom: 2rem;
  pointer-events: none;
  transition: all 1s ease;
}

.scrollup--visible {
  pointer-events: auto;
  opacity: 0.7;
}


/*===================MEDIA QUERIES==============*/

@media only screen and (min-width: 48rem) {
  /*ContentHeader*/
  .content h1 {
    font-size: 8rem;
    text-align: center;
  }
  .content h2 {
    font-size: 3.5rem;
    text-align: center;
  }
  /*AboutMe*/
  .aboutme__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0 6rem 3rem 6rem;
    box-sizing: border-box;
  }
  .aboutme__frame {
    flex-basis: 30%;
    height: 225px;
    padding: 1rem 0 1rem 0;
    box-sizing: border-box;
  }
  .aboutme__text {
    flex-basis: 65%;
    margin-top: 0;
    margin-left: 5%;
    height: auto;
    align-self: center;
  }
  /*Skills*/
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0 3rem 3rem 3rem;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .skill__frame, .skill__frame-last {
    flex-basis: 30%;
    overflow: hidden;
  }

  .skill__img {
    max-width: 40%;
    padding-bottom: 3rem;
    opacity: 0.6;
  }

  .skill__text {
    position: static;
  }
  .skill__text-left {
    -ms-transform: translateX(-700px);
    /* IE 9 */
    -webkit-transform: translateX(-700px);
    /* Safari */
    transform: translateX(-700px);
    opacity: 0.3;
    transition: all 2s ease-in-out;
  }
  .skill__text-left--show {
    -ms-transform: translateX(0);
    /* IE 9 */
    -webkit-transform: translateX(0);
    /* Safari */
    transform: translateX(0);
    opacity: 1;
  }
  .skill__text-mid {
    -ms-transform: translateY(300px);
    /* IE 9 */
    -webkit-transform: translateY(300px);
    /* Safari */
    transform: translateY(300px);
    opacity: 0.3;
    transition: all 2s ease-in-out;
  }
  .skill__text-mid--show {
    -ms-transform: translateY(0);
    /* IE 9 */
    -webkit-transform: translateY(0);
    /* Safari */
    transform: translateY(0);
    opacity: 1;
  }
  .skill__text-right {
    -ms-transform: translateX(700px);
    /* IE 9 */
    -webkit-transform: translateX(700px);
    /* Safari */
    transform: translateX(700px);
    opacity: 0.3;
    transition: all 2s ease-in-out;
  }
  .skill__text-right--show {
    -ms-transform: translateX(0);
    /* IE 9 */
    -webkit-transform: translateX(0);
    /* Safari */
    transform: translateX(0);
    opacity: 1;
  }

  /*Projects*/
  .projects__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    display: flex;
    padding: 0 6rem 3rem 6rem;
    box-sizing: border-box;
    justify-content: space-around;
  }
  .project__frame {
    flex-basis: 20%;
    margin: 0;
  }
  /*Contact*/
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding: 0 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .contact__info {
    flex-basis: 40%;
    font-size: 2rem;
  }
  .contact__links {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 53rem) {
  .quote {
    max-width: 79.3rem;
  }
}


@media only screen and (min-width: 64rem){
  .skill__img {
    max-width: 22%;
  }
}
